@model project.Models.Countries

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Countries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapitalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapitalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
